<app-navbar></app-navbar>
<section>
  <h2>Who We Are</h2>
  <p>
    Welcome to PN Computer, your trusted computer store. Since our founding in
    2017, we’ve been committed to providing high-quality computers, accessories,
    and repair services for both individuals and businesses.
  </p>
  <h2>Our Mission</h2>
  <p>
    At PN Computer, we aim to empower our customers with cutting-edge
    technology. Our mission is to deliver reliable products, exceptional
    customer service, and expert advice tailored to your needs.
  </p>
  <h2>What We Offer</h2>
  <p>
    - A wide range of computers, laptops, and accessories from top brands.
    <br />
    - Custom-built PCs for gamers and professionals. <br />
    - Expert repair and maintenance services. <br />
    - Friendly and knowledgeable staff ready to assist you.
  </p>
  <h2>Why Choose Us?</h2>
  <p>
    With over a decade of experience, we pride ourselves on our integrity,
    quality products, and personalized service. Whether you’re a tech enthusiast
    or a beginner, we’re here to help you every step of the way.
  </p>
  <h2>Contact Us</h2>
  <p>
    Got questions? Visit us at our store, contact us at
    <a href="https://t.me/ravuth_keo">https://t.me/ravuth_keo</a>, or call us at
    087 555 403
  </p>
</section>
<app-footer></app-footer>
